body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body , html {
	overflow-x: hidden;
}
body {
	background:black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: white;
}
a {
	text-decoration: none;
	color: white;
}
.hlavicka {
	position: relative;
	background-color: black;
}
#logo {
	position: relative;
		margin-top: 1%;
		margin-left: 2%;
		border-radius: 3%;
		height: 425px;
}
/*prvý obrázok*/
#logo-holder {
	position: relative;
 	float: right;
 	margin-top: 4.7%;
 	right: 40%;

 }
#logo-holder .text {
	font-size: 180%;
}

#logo-holder .image {transition: opacity 0.5s ease-in-out;}
#logo-holder .image {
	position:absolute;
	margin-top: -23%;
	width: 110%;
	height: 120%;	
	opacity:1;

}

#logo-holder:hover .text {opacity:1;}
#logo-holder:hover .image {opacity:0;}
/*druhý obrázok*/
#logo-holder2 {
	position: relative;
 	float: right;
 	right: 16%;
 }
#logo-holder2 .text2 {
	font-size: 180%;
	padding-top: 66%;
}

#logo-holder2 .image2 {transition: opacity 0.5s ease-in-out;}
#logo-holder2 .image2 {
	position:absolute;
	margin-top: 36%;
	width: 110%;
	height: 70%;	
	opacity:1;}

#logo-holder2:hover .text {opacity:1;}
#logo-holder2:hover .image2 {opacity:0;}
/*tretí obrázok*/
#logo-holder3 {
	position: relative;
 	float: right;
 	left: 10.5%;
 }
#logo-holder3 .text3 {
	font-size: 180%;
	padding-top: 46%;
	opacity: 0;
}
#logo-holder3 .text3 {transition: opacity 0.5s ease-in-out;}
#logo-holder3 .image3 {transition: opacity 0.5s ease-in-out;}
#logo-holder3 .image3 {
	position:absolute;
	margin-top: 23%;
	width: 90%;
	height: 74%;	
	opacity:1;
}

#logo-holder3:hover .text3 {opacity:1;}
#logo-holder3:hover .image3 {opacity:0;}
/*4. obrzok*/
#logo-holder4 {
	position: relative;
 	float: right;
 	right: 8%;
 }
#logo-holder4 .text4 {
	font-size: 180%;
	padding-top: 220%;
}

#logo-holder4 .image4 {transition: opacity 0.5s ease-in-out;}
#logo-holder4 .text4 {transition: opacity 0.5s ease-in-out;}
#logo-holder4 .image4 {
	position:absolute;
	margin-top: 190%;
	width: 120%;
	height: 45%;	
	opacity:1;}

#logo-holder4:hover .text {opacity:1;}
#logo-holder4:hover .image4 {opacity:0;}
/*5 obrázok*/
#logo-holder5 {
	position: relative;
 	float: right;
 	left: 17.4%;
 }
#logo-holder5 .text5 {
	font-size: 180%;
	padding-top: 130%;
	opacity: 0;
}
#logo-holder5 .text5 {transition: opacity 0.5s ease-in-out;}
#logo-holder5 .image5 {transition: opacity 0.5s ease-in-out;}
#logo-holder5 .image5 {
	position:absolute;
	margin-top: 115%;
	width: 95%;
	height: 47%;	
	opacity:1;}

#logo-holder5:hover .text5 {opacity:1;}
#logo-holder5:hover .image5 {opacity:0;}
/* o nás */
#logo-holder6 {
	position: relative;
 	float: right;
 	left: 16%;
 }
#logo-holder6 .text6 {
	position: relative;
	font-size: 180%;
	top: 325px;

}
#logo-holder6 a:hover {
	text-decoration: underline;
}
#logo-holder7 a:hover {
	text-decoration: underline;
}
#logo-holder7 {
	position: relative;
 	float: right;
 	left: 12.5%;
 }
#logo-holder7 .text7 {
	position: absolute;
	font-size: 180%;
	top: 380px;
	width: 200px;

}



.line1 {
	margin-top: 3%;
	padding-top: 3%;
	background-color: #e2beae;
	color: 
}
h1{
	font-size: 220px;
	font-family:Corsiva;
	text-align: center;
	text-shadow: 10px 10px 10px #141FB8;
	color: white;
	margin-top: 20px; }

	
	.preklad{
		font-family: "Century Gothic";
		text-align: center;
		font-size: 60px;
		margin-top: -7%;
		color: white;

	}

.video{
	
	text-align: center;
	position: relative;
	width: 100%;
	margin-right: 30%;
	margin-top: -20px;
}
h3{
	font-family: "Roge Italic", cursive, sans-serif;
	font-size: 500%;
	text-align: center;
	color: white;
}

.mesto{
	margin-top: -8%;
	color: black;
	text-shadow: 10px 10px 10px #C21015;
	color:white;

}
.kaviaren{
	display: block; /* obrázok do stredu */
	margin: 0px auto; 
	position: relative;

	}
	li{
		margin-left: 30px;
		font-size: 40px;
		font-family: victoria,cursive, sans-serif;
		
		word-spacing: 6px;
		letter-spacing: 6px;
		color: white;
	}
	.dôvody{
		margin-left: 30px;
		font-size: 60px;
		font-family: victoria, cursive;
		color:white;
		text-align: center;
	}
	main{
		background-color: black;
	}
	h4{
		width: 30%;
	}
	.preco{
		float: right;
		margin-right: 10%;
	}
	
	.naco{
		text-align: center;
		font-size: 60px;
		font-family: victoria, cursive;
		color:white;

	}
	.rady{
		
		font-size: 20px;
		font-family: victoria;
		
		word-spacing: 6px;
		letter-spacing: 6px;
		color: white;

	}
.profilphotos{
	padding: 4%;
	
	background-color: black;
}
.profilphotos1{
	border-style: groove;
	border-radius: 50px;
	border-width: 3px;
	border-color: white;
	padding: 10px;
	transition: 5s;}
.profilphotos:after{
	content: "";
	clear: both;
	display: table;
}
.profilphototext2{
	float: right;
	text-align: center;
	width: 68%;
	margin-top:-29%;
	padding-left: 50%;
	text-indent: 50px;
	font-size: 150%;
	font-style: italic;
	text-align: justify;
 	padding: 1%;
 	border:5px solid pink;
	border-radius: 20px;}

.profilphotos2:after{
	content: "";
	clear: both;
	display: table;
}
.profilphotos2{
	border-style: groove;
	border-radius: 50px;
	border-width: 3px;
	border-color: white;
	padding: 10px;
}

.profilphototext3{

padding: 1%;
	float: right;
	text-align: center;
	width: 52%;
	margin-top:-28%;
	
	text-indent: 50px;
	font-size: 130%;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	} 