@media screen and (max-width:1090px){
    #logo-holder {
    	padding-top: 0%;
    	/*margin-top: -3%;
    	margin-left: -20%;*/
    }
    #logo-holder .text {
    	padding-top: 50%;
    }
    #logo-holder2 {
    	margin-right: -10%;
    }
    #logo-holder .text {
    	padding-top: 56%;
    } 
}



/*prvý obrázok*/
#logo-holder {
	position: relative;
 	float: right;
 	right: 38%;
 }
#logo-holder .text {
	font-size: 180%;
	padding-top: 60%;
}

#logo-holder .image {transition: opacity 0.5s ease-in-out;}
#logo-holder .image {
	position:absolute;
	padding-top: 36%;
	width: 110%;
	height: 94%;	
	opacity:0;
}

#logo-holder:hover .text {opacity:0;}
#logo-holder:hover .image {opacity:1;}
/*druhý obrázok*/
#logo-holder2 {
	position: relative;
 	float: right;
 	right: 15.5%;
 }
#logo-holder2 .text2 {
	font-size: 180%;
	padding-top: 66%;
}

#logo-holder2 .image2 {transition: opacity 0.5s ease-in-out;}
#logo-holder2 .image2 {
	position:absolute;
	padding-top: 36%;
	width: 110%;
	height: 95%;	
	opacity:0;}

#logo-holder2:hover .text2 {opacity:0;}
#logo-holder2:hover .image2 {opacity:1;}
/*tretí obrázok*/
#logo-holder3 {
	position: relative;
 	float: right;
 	left: 8%;
 }
#logo-holder3 .text3 {
	font-size: 180%;
	padding-top: 71%;
}

#logo-holder3 .image3 {transition: opacity 0.5s ease-in-out;}
#logo-holder3 .image3 {
	position:absolute;
	padding-top: 36%;
	width: 110%;
	height: 100%;	
	opacity:0;}

#logo-holder3:hover .text3 {opacity:0;}
#logo-holder3:hover .image3 {opacity:1;}
/*4. obrzok*/
#logo-holder4 {
	position: relative;
 	float: right;
 	right: 15%;
 }
#logo-holder4 .text4 {
	font-size: 180%;
	padding-top: 200%;
}

#logo-holder4 .image4 {transition: opacity 0.5s ease-in-out;}
#logo-holder4 .image4 {
	position:absolute;
	padding-top: 165%;
	width: 120%;
	height: 52%;	
	opacity:0;}

#logo-holder4:hover .text4 {opacity:0;}
#logo-holder4:hover .image4 {opacity:1;}
/*5 obrázok*/
#logo-holder5 {
	position: relative;
 	float: right;
 	left: 8%;
 }
#logo-holder5 .text5 {
	font-size: 180%;
	padding-top: 165%;
}

#logo-holder5 .image5 {transition: opacity 0.5s ease-in-out;}
#logo-holder5 .image5 {
	position:absolute;
	padding-top: 135%;
	width: 110%;
	height: 52%;	
	opacity:0;}

#logo-holder5:hover .text5 {opacity:0;}
#logo-holder5:hover .image5 {opacity:1;}
/* o nás */
#logo-holder6 {
	position: relative;
 	float: right;
 	left: 29%;
 }
#logo-holder6 .text6 {
	font-size: 180%;
	padding-top: 235%;
}
