body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.Inter{
	color:#E8A0B0;
	text-decoration: none;
	font-size: 90px;}
.Inter:hover{
	border-bottom: 2px solid #e2beae; }
.firstphoto {
	background: black;
	margin-top: 30px;

	
	}
.firstphoto::after {
	content: "";
	clear: both;
	display: table;}
.firstphoto1{
	float: left;
	width: 50%;
	padding: 2%;
border-radius:100px;}
.firstphoto3{
	float: right;
	width: 50%;
	padding: 2%;
border-radius:100px;}

main h2 {
	text-align: center;
	margin-top: 120px;}

.uvodnytext :hover {
		border-bottom: 2px solid #e2beae;}
.uvodnytext
	{color:#E8A0B0;
	text-decoration: none;
	font-size: 90px;}

.uvodnytext { /*span slúži na oddelenie, od textu ak chceme nieco rozlíšit od hlavného textu a konkretne len jednu vetu alebo slovo */
background:black;
color: white;
	font-size: 60px;
	border: 10px solid #e2beae;
	margin-top: 30px;
	margin-bottom:10px;
	padding: 5px;

}
.secondphoto {
	background:black;
}

.secondphoto::after {
	content: "";
	clear: both;
	display: table;
}
.secondphoto1 {
	float:left;
	width: 50%;
	padding:2%;
}



.text1 {
	 
	font-size: 20px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	border:30px solid #e2beae;
}
.photovlak{
	background-color: pink;


}
.photovlak{
	display: block; /* obrázok do stredu */
	margin: 0px auto; 
	position: relative; /* zarovnám */
	top: 70px;
	border:30px solid black;
	margin-bottom: 7%;
	margin-top: -2%;
	border-radius:20px;
	border-radius: 150px;
}
h3
	{color:#E8A0B0;
	text-decoration: none;
	font-size: 90px;}

h3 {
background:black;
color: white;
	font-size: 70px;
	border: 10px solid #e2beae;
	margin-top: 30px;
	padding: 15px;
	text-align: center;}
h2{
	font-size: 70px;
	text-align: center;
	border: 10px solid #e2beae;
	}
	.odrazky{
		font-size: 40px;
		position: relative;
		color: white;
		background:#e2beae;
		border:2px solid black;
		text-align: center;
		padding: 15px;
	}
	.odrazky2{
		font-size: 40px;
		position: relative;
		color: white;
		background:#e2beae;
		border:2px solid black;
		text-align: center;
		padding: 15px;
	}
	ul a {
	color: black;
	text-decoration: none;}
   ul a:hover {
	border-bottom: 2px solid white;

	}

	.projetkyimg{
		background: black;
		padding: 35px;
	}
	.projetkyimg::after{
		content: "";
		clear:both;
		display:table;
	}
	.projetkyimg1{
		float: left;
		width: 12%;
		margin-left:70px;
		border: 20px solid #e2beae;
	}
	.projetkyimg2{
		float: left;
		width: 19%;
		height: 216px;
		margin-left:70px;
		border: 20px solid #e2beae;
	}
	.projetkyimg3{
		float: left;
		width: 15%;
		height: 216px;
		margin-left:70px;
		border: 20px solid #e2beae;
	}
	.projetkyimg4{
		float: left;
		width: 20%;
		height: 216px;
		margin-left:70px;
		border: 20px solid #e2beae;
	}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
body , html {
	overflow-x: hidden;
}
body {
	background:black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: white;
}
.hlavicka {
	position: relative;
	background-color: black;
}
#logo {
	position: relative;
		margin-top: 2%;
		margin-left: 5%;
		border-radius: 5%;
}




/*prvý obrázok*/
#logo-holder {
	position: relative;
 	float: right;
 	margin-top: 4.7%;
 	right: 38%;

 }
#logo-holder .text {
	font-size: 180%;
}

#logo-holder .image {transition: opacity 0.5s ease-in-out;}
#logo-holder .image {
	position:absolute;
	margin-top: -23%;
	width: 110%;
	height: 290%;	
	opacity:1;

}

#logo-holder:hover .text {opacity:1;}
#logo-holder:hover .image {opacity:0;}
/*druhý obrázok*/
#logo-holder2 {
	position: relative;
 	float: right;
 	right: 15.5%;
 }
#logo-holder2 .text2 {
	font-size: 180%;
	padding-top: 66%;
}

#logo-holder2 .image2 {transition: opacity 0.5s ease-in-out;}
#logo-holder2 .image2 {
	position:absolute;
	margin-top: 36%;
	width: 110%;
	height: 95%;	
	opacity:1;}

#logo-holder2:hover .text {opacity:1;}
#logo-holder2:hover .image2 {opacity:0;}
/*tretí obrázok*/
#logo-holder3 {
	position: relative;
 	float: right;
 	left: 10%;
 }
#logo-holder3 .text3 {
	font-size: 180%;
	padding-top: 49%;
	opacity: 0;
}
#logo-holder3 .text3 {transition: opacity 0.5s ease-in-out;}
#logo-holder3 .image3 {transition: opacity 0.5s ease-in-out;}
#logo-holder3 .image3 {
	position:absolute;
	margin-top: 25%;
	width: 80%;
	height: 94%;	
	opacity:1;}

#logo-holder3:hover .text3 {opacity:1;}
#logo-holder3:hover .image3 {opacity:0;}
/*4. obrzok*/
#logo-holder4 {
	position: relative;
 	float: right;
 	right: 6.4%;
 }
#logo-holder4 .text4 {
	font-size: 180%;
	padding-top: 230%;
}

#logo-holder4 .image4 {transition: opacity 0.5s ease-in-out;}
#logo-holder4 .image4 {
	position:absolute;
	margin-top: 165%;
	width: 120%;
	height: 52%;	
	opacity:1;}

#logo-holder4:hover .text {opacity:1;}
#logo-holder4:hover .image4 {opacity:0;}
/*5 obrázok*/
#logo-holder5 {
	position: relative;
 	float: right;
 	left: 18%;
 }
#logo-holder5 .text5 {
	font-size: 180%;
	padding-top: 139%;
	opacity: 0;
}
#logo-holder5 .text5 {transition: opacity 0.5s ease-in-out;}
#logo-holder5 .image5 {transition: opacity 0.5s ease-in-out;}
#logo-holder5 .image5 {
	position:absolute;
	margin-top: 100%;
	width: 85%;
	height: 53%;	
	opacity: 1;
	}

#logo-holder5:hover .text5 {opacity:1;}
#logo-holder5:hover .image5 {opacity:0;}
/* o nás */
#logo-holder6 {
	position: relative;
 	float: right;
 	left: 17%;
 }
#logo-holder6 .text6 {
	position: relative;
	font-size: 180%;
	top: 320px;
	text-decoration: underline;
}



.profilphotos{
	padding: 4%;
	
	background-color: black;
}
.profilphotos1{
	border-style: groove;
	border-radius: 50px;
	border-width: 3px;
	border-color: white;
	padding: 10px;
	transition: 5s;
	width: 20%;
}
.profilphotos3 {
	border-style: groove;
	border-radius: 50px;
	border-width: 3px;
	border-color: white;
	padding: 10px;
	transition: 5s;
	width: 25%;	
}
.profilphotos:after{
	content: "";
	clear: both;
	display: table;
}
.profilphototext2{
	float: right;
	text-align: center;
	width: 68%;
	margin-top:-29%;
	padding-left: 50%;
	text-indent: 50px;
	font-size: 150%;
	font-style: italic;
	text-align: justify;
 	padding: 1%;
 	border:5px solid pink;
	border-radius: 20px;
}
.profilphototext4{
	float: right;
	text-align: center;
	width: 68%;
	margin-top:-29%;
	padding-left: 50%;
	text-indent: 50px;
	font-size: 150%;
	font-style: italic;
	text-align: justify;
 	padding: 1%;
 	border:5px solid pink;
	border-radius: 20px;
}

.profilphotos2:after{
	content: "";
	clear: both;
	display: table;
}
.profilphotos2{
	border-style: groove;
	border-radius: 50px;
	border-width: 3px;
	border-color: white;
	padding: 10px;
}

.profilphototext3{

padding: 1%;
	float: right;
	text-align: center;
	width: 52%;
	margin-top:-28%;
	
	text-indent: 50px;
	font-size: 130%;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	} 
	/*
	h4{
		float: left;
		margin-left: 50px;
		font-size: 45px;
		margin-top: 150px;
		text-align: left;
	} */
	.imagestext:after{
	content: "";
	clear: both;
	display: table;

	}
	.imagestextone{
		
		
	text-align: left;
	padding: 3%;
	}
	.imagestext:after{
	content: "";
	clear: both;
	display: table;

	}
.imagestexttwo{

	padding: 3%;
	text-align: right;
	
	}
	.imagestext:after{
	content: "";
	clear: both;
	display: table;
}
.imagestextthree{
	
	text-align: left;
	padding: 3%;
}
.profilphototext5{

padding: 1%;
	float: right;
	text-align: center;
	width: 55%;
	margin-top:-20%;
	margin-left: 20px;
	
	
	font-size:20px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}
	.profilphototext6{

padding: 1%;
	float: right;
	text-align: center;
	width: 55%;
	margin-top:2%;
	margin-left: 20px;
	
	
	font-size:20px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}
	.profilphototext7{

padding: 1%;
	float: left;
	text-align: left;
	width: 40%;
	margin-bottom:-30%;
	margin-top:-40%;
	margin-left: 50px;
	
	
	font-size:25px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}
	.profilphototext8{

padding: 1%;
	
	text-align: left;
	width: 40%;
	margin-bottom:-30%;
	margin-top:3%;
	margin-left: 50px;
	
	float: left;
	font-size:25px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}
a { 
	text-decoration: none;
	color: white;
}
	.profilphototext9{

padding: 1%;
	float:right;
	text-align: right;

	width: 40%;
	margin-bottom:-30%;
	margin-top:-25%;
	margin-left: 50%;
	
	float: left;
	font-size:20px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}
		.profilphototext10{

padding: 1%;
	float:right;
	text-align: right;

	width: 40%;
	margin-bottom:-30%;
	margin-top:-37%;
	margin-left: 50%;
	
	float: left;
	font-size:25px;
	font-style: italic;
	text-align: justify;
	border:5px solid pink;
	border-radius: 20px;

	}

/* VERZIA NA MOBIL */

	@media screen and (max-width:1090px){
		
		#logo-holder {
			padding-top: 2.6%;
			left: -36%;
		}
		#logo-holder .text {
			margin-right: 5%;
		}
		#logo-holder .image {
			top: 37%;
			height: 165%;
		}


		/*_____*/
		#logo-holder2 {
			left: -7%;
		}
		#logo-holder2 .text2 {
			margin-right: 5%;
		}
		#logo-holder2 .image2 {
			
		}
		/*_____*/
		#logo-holder3 {
			margin-right: -15%;
		}
		#logo-holder3 .text3 {
			margin-right: 5%;
		}
		#logo-holder3 .image3 {
			
		}
		/*_____*/
		#logo-holder4 {
			top: 215px;
			margin-right: -2%;
		}
		#logo-holder4 .text4 {
			padding-top: 0%;
		}
		#logo-holder4 .image4 {
			margin-top: -70%;
			height: 370%;
		}
		/*_____*/
		#logo-holder5 {
			margin-right: -5%;
			margin-top: 0%;
			top: 200px;
			height: 240px;
		}
		#logo-holder5 .text5 {
			padding-top: 0%;
			top: 300px;
		}
		#logo-holder5 .image5 {
			margin-top: -33%;

		}
		#logo-holder6 .text6 {
			top: 290px;
			left: 44%;
		}
		
		/*__________________*/

		.firstphoto {
			background: black;
			margin-top: 100px;
		}
		.text1 {
			font-size: 80%;
		}
		
	.projetkyimg{
		background: black;
		width: 100%;
	}
	.projetkyimg::after{
		content: "";
		clear:both;
		display:table;
	}
	.projetkyimg1 {
		float: left;
		width: 19.3%;
		height: 216px;
		margin-left: 40px;
		border: 20px solid #e2beae;
	}
	.projetkyimg2 {
		float: right;
		width: 19%;
		margin-right: 100px;
		height: 216px;
		border: 20px solid #e2beae;
	}
	.projetkyimg3 {
		float: left;
		margin-top: 500px;
		margin-left: -230px;
		width: 19.5%;
		height: 216px;
		border: 20px solid #e2beae;
	}
	.projetkyimg4 {
		float: right;
		width: 20%;
		margin-top: 500px;
		margin-right: -300px;
		height: 216px;
		border: 20px solid #e2beae;
	}
	.odrazky2 {
		font-size: 40px;
		position: absolute;
		width: 96.7%;
		margin-top: -545px;
		color:#e2beae;
		text-align: center;
		padding: 15px;	
	}

	.imagestext1 {
		margin-top: 20%;
	}
	.profilphototext5 {
		margin-top: -35%;
	}
	.profilphototext6 {
		margin-top: -35%;
	}
	.imagestext2 {
		margin-top: 15%;
	}
	.profilphototext7 {
		margin-top: -52%;
		margin-left: 1%;
		width: 50%;
	}
	.imagestext3 {
		margin-top: 30%;
	}
	.profilphototext8 {
		margin-top: 20%;
		margin-left: 1%;
		width: 50%;
	}
	.imagestext6 {
		margin-top: 25%;
	}
	.profilphototext9 {
		margin-top: -40%;
		margin-right: 2%;
		width: 50%;
	}
	.imagestext7 {
		margin-top: 30%;
	}
	.profilphototext10 {
		margin-top: -52%;
		margin-right: 2%;
		width: 50%;
	}
	.text1 {
		margin-top: 20%;
	}

	.profilphototext2 {
		width: 50%;
	}
	.profilphototext1 .profilphotos1 {
		margin-top: 20%;
		width: 40%;
	}
	.profilphototext1 .profilphototext2 {
		margin-top: -60%;
	}

	.profilphotos3 {
		margin-top: 15%;
		width: 38%;
	}
	.profilphototext4 {
		margin-top: -80%;
		width: 50%;
	}
	.profilphotos2 {
		margin-top: 10%;
	}
	.profilphototext3 {
		margin-top: -50%;
		width: 50%;
	}
}

