* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
body , html {
	overflow-x: hidden;
}
body {
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: white;
}

.pokec_my {
	overflow-y: hidden;
}
#koniec {
	position: absolute;
	top: 6000px;
}
#logo {
	position: relative;
}
.hlavicka {
	position: relative;
	background-color: grey;
}
.pracujeme_na {
	margin: 4%;
}



@media screen and (max-width:1090px) {

	.odrazky_pracujeme {
		margin-left: -18%;
	}
	.pracujeme_img {
		position: relative;
		top: -120px;
		right: -3%;
	}


}

.este_pracujeme {
	font-size: 200%;
}
.odrazky_pracujeme {
	font-size: 180%;
	padding-top: 4%;
}
.pracujeme_img {
	float: right; 
	margin-right: 5%;
	margin-top: -33%;
	margin-bottom: 10%;
}




.line3 {
	margin-left: 0%;
	margin-right: 0%;
	padding-top: 2%;
	margin-top: 9%;
	background-color: grey;
}


.pokec_my {
	width: 100%;
	font-size: 150%;
}
.pokec_my .nadpis_cestovatelia {

	text-align: center;
	font-size: 250%;
	padding-bottom: 4%;
}

.pokec_my:after {
  content: "";
  display: table;
  clear: both;
}

.osoba1 {
	float: left;
  	width: 33.33%;
  	text-align: center;

}
.osoba1 img {
	width: 65%;
}

.osoba2 {
	float: left;
  	width: 33.33%;
  	text-align: center;
}

.osoba2 img {
	width: 87%;
}


.osoba3 {
	float: left;
  	width: 33.33%;
  	text-align: center;
}

.osoba3 img {
	width: 65%;
}















